<header class="header">
  <div class="wrapper">
    <div>
    <h1 class="title">Social Media Dashboard</h1>
    <p class="followers">Total Followers: 23,004</p>
  </div>
    <div class="btn-dark-mode">
      <strong class="title-dark-mode"> Dark Mode </strong>
      <input  type="checkbox" class="checkbox" id="checkbox" name="checkbox">
      <label class="switch" for="checkbox">
      </label>
    </div>
  </div>
</header>

<section class="section">
  <article class="card" id="card-1">
    <p class="card-header">
      <img src="./../assets/images/icon-facebook.svg" alt="">
      <strong> @nathanf </strong>
    </p>
    <p>
      <strong class="card-number">1987 </strong>
      <span class="card-followers">Followers </span>
    </p>
    <p class="card-footer">
      12 Today
    </p>

  </article>
  <article class="card" id="card-2">
    <p class="card-header">
      <img src="./../assets/images/icon-twitter.svg" alt="">
      <strong> @nathanf</strong>
    </p>
    <p>
      <strong class="card-number">1044 </strong>
      <span class="card-followers">Followers </span>
    </p>
    <p class="card-footer">
      99 Today
    </p>

  </article>

  <article class="card" id="card-3">
    <p class="card-header">
      <img src="./../assets/images/icon-instagram.svg" alt="">
      <strong> @realnathanf </strong>
    </p>
    <p>
      <strong class="card-number">11k </strong>
      <span class="card-followers">Followers </span>
    </p>
    <p class="card-footer">
      1099 Today
    </p>

  </article>

  <article class="card" id="card-4">
    <p class="card-header">
      <img src="./../assets/images/icon-youtube.svg" alt="">
      <strong> @Nathan F. </strong>
    </p>
    <p>
      <strong class="card-number">8239 </strong>
      <span class="card-followers">Followers </span>
    </p>
    <p class="card-footer">
      144 Today
    </p>

  </article>

</section>

<h2 class="not-grid-title">Overview - Today</h2>
<section class="section2">
    
  
  <article class="article-grid">
    <span>Page Views</span>
    <img src="./../assets/images/icon-facebook.svg" alt="">
    <strong>87</strong>
    <div class="article-grid-porcentaje">

      <span>3%</span>
    </div>
  </article>

  <article class="article-grid">
    <span>Likes</span>
    <img src="./../assets/images/icon-facebook.svg" alt="">
    <strong>52</strong>
    <div class="article-grid-porcentaje">

      <span>2%</span>
    </div>
  </article>



  <article class="article-grid">
    <span>Likes</span>
    <img src="./../assets/images/icon-instagram.svg" alt="">
    <strong>5462</strong>
    <div class="article-grid-porcentaje">

      <span> 2257%</span>
    </div>
  </article>

  <article class="article-grid">
    <span> Profile Views</span>
    <img src="./../assets/images/icon-instagram.svg" alt="">
    <strong> 52k</strong>
    <div class="article-grid-porcentaje">

      <span> 1375%</span>
    </div>
  </article>

  <article class="article-grid">
    <span>Retweets</span>
    <img src="./../assets/images/icon-twitter.svg" alt="">
    <strong> 117</strong>
    <div class="article-grid-porcentaje">

      <span>303%</span>
    </div>
  </article>


  <article class="article-grid">
    <span>Likes</span>
    <img src="./../assets/images/icon-twitter.svg" alt="">
    <strong> 507</strong>
    <div class="article-grid-porcentaje">

      <span>553%</span>
    </div>
  </article>

  <article class="article-grid">
    <span>Likes</span>
    <img src="./../assets/images/icon-youtube.svg" alt="">
    <strong> 107</strong>
    <div class="article-grid-porcentaje">

      <span> 19%</span>
    </div>
  </article>

  <article class="article-grid">
    <span>Total Views</span>
    <img src="./../assets/images/icon-youtube.svg" alt="">
    <strong>1407</strong>
    <div class="article-grid-porcentaje">

      <span>12%</span>
    </div>
  </article>









</section>


<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by
  <a href="#">Jonathan</a>.
</div>