<div class="container-404">
  <div class="top-side">
    <span class="error-404">404 NOT FOUND</span>
  </div>
  <div class="main-contain">
    <div class="contenido1">
      <img src="./../assets/Scarecrow.png" alt="">
    </div>
    <div class="contenido2">
      <h1 class="title">I have bad news for you</h1>
      <P class="parrafo">The page you are looking for might be removed or is temporarily unavailable</P>
      <button class="btn-regresar-home" type="submit">BACK TO HOME</button>
    </div>
  </div>
  <footer>
    <span>Jonathan @DevChallenges.io</span>
  </footer>
</div>