/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: hotpink;
    --color-fondo: #ffffff;
    --color-boton: #333333;
    --color-letra-gray1: #333333;
    --color-letra-gray2: #4F4F4F;
  }
 